@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.signup-body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex; 
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
}

.signup-container {
  background: #fff;
  width: 450px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.signup-form {
  margin: 0 2rem;
}

.signup-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  color: black;
  margin-bottom: 0.4rem;
}

.signup-input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  padding-left: 1.5rem;
  font-size: 15px;
}

.signup-input-group {
  padding: 1% 0;
  position: relative;
}

.signup-input-group i {
  position: absolute;
  color: black;
}

.signup-input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid hsl(327, 90%, 28%);
}

.signup-input::placeholder {
  color: transparent;
}

.signup-label {
  color: #757575;
  position: relative;
  left: 1.2em;
  top: -1.3em;
  cursor: auto;
  transition: 0.3s ease all;
}

.signup-input:focus ~ .signup-label,
.signup-input:not(:placeholder-shown) ~ .signup-label {
  top: -3em;
  color: hsl(327, 90%, 28%);
  font-size: 15px;
}

.signup-recover {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.signup-recover a {
  text-decoration: none;
  color: rgb(125, 125, 235);
}

.signup-recover a:hover {
  color: blue;
  text-decoration: underline;
}

.signup-btn {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 235);
  color: white;
  cursor: pointer;
  transition: 0.9s;
}

.signup-btn:hover {
  background: #07001f;
}

.signup-or {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.signup-icons {
  text-align: center;
}

.signup-icons i {
  color: rgb(125, 125, 235);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
  margin: 0 15px;
  transition: 1s;
}

.signup-icons i:hover {
  background: #07001f;
  font-size: 1.6rem;
  border: 2px solid rgb(125, 125, 235);
}

.signup-links {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
  margin-top: 0.9rem;
  font-weight: bold;
}

.signup-message {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  animation: fadeOut 7s forwards;
}

.signup-message.error {
  background-color: #ffcccc; /* Light red background */
  color: #d8000c; /* Dark red text */
}

.signup-message.success {
  background-color: hsl(327, 90%, 28%);
  color: white;
}

@media (max-width: 480px) {
  .signup-container {
    width: 90%;
  }
}
