.login-body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
}

.login-inner-container {
  background: #fff;
  width: 450px; /* Fixed width */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.login-form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #757575;
  background-color: #e2e2e2;
  border-radius: 5px;
  font-size: 15px;
  color: black;
}

.login-input::placeholder {
  color: black;
  font-weight: bold;
}

.login-input:focus {
  outline: none;
  border: 2px solid hsl(327, 90%, 28%);
}

.login-button {
  width: 100%;
  padding: 10px;
  background: rgb(125, 125, 235);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #07001f;
}

.login-error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.login-recover {
  text-align: right;
  margin-top: 10px;
  color: black;
}

.login-links {
  text-align: center;
  margin-top: 1rem;
}

#signUpButton {
  background: none;
  border: none;
  color: rgb(125, 125, 235);
  font-size: 1rem;
  cursor: pointer;
}

#signUpButton:hover {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 480px) {
  .login-inner-container {
    width: 90%; /* Responsive width */
  }
}
